.symptoms {
  padding: 150px 0px;
}

.symptoms .info {
  padding: 35px 0 0;
}

.symptoms .info .alert {
  text-transform: capitalize;
  padding: 3px 15px;
  background: rgba(255, 79, 91, 0.09);
  color: #e8505b;
  border-radius: 16px;
  margin-bottom: 20px;
  display: inline-block;
}

.symptoms .info .main_title h2 {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: Hind Siliguri, sans-serif;
  font-family: Poppins, sans-serif;
  font-family: Roboto, sans-serif;
  font-family: Titillium Web, sans-serif;
}

.symptoms .info .main_title .lead {
  font-size: 18px;
  color: #777;
  line-height: 1.6;
  text-transform: capitalize;
  margin-top: 15px;
  font-weight: 300px;
}

.symptoms .info .symptomsRows{
  margin-top: 30px;
}

.symptoms .info .symptomsRows ul li {
  color: #777;
  font-size: 15px;
  list-style: none;
  text-align: justify;
}

/* .symptoms .info .symptomsRows ul li i {
  color: #40cd79;
} */

.symptoms .info .btn{
  margin: 30px 0 0;
  padding: 14px 12px;
  border-radius: 25px;
  background: #e8505b;
  border: 2px solid #e8505b;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  cursor: pointer;
}

.symptoms .cont_img img {
  width: 100%;
  height: 100%;
}